<link rel="stylesheet" href="/css/form.css" />

<div class="btl" title="Click to go back to login page">
  <a href="/page/login"><i class="fa-solid fa-arrow-left"><-</i></a>
</div>
<div class="form-container text-center">
  <h1><%= title %></h1>
  <div>
    <form action="/password/forgot" method="post">
      <div class="form-floating mb-1">
        <input
          type="email"
          name="email"
          class="form-control"
          id="floatingEmail"
          required
        />
        <label for="floatingEmail"> Email</label>
      </div>
      <button class="btn btn-light" type="submit">Get Reset Link</button>
    </form>
  </div>
</div>
