<nav class="navbar bg-dark">
  <div class="container">
    <div>
      <a class="navbar-brand text-white" href="/page/home"> Home </a>
    </div>
    <div>
      <a href="/logout" class="text-white">logout</a>
    </div>
  </div>
</nav>
