<link rel="stylesheet" href="/css/form.css" />

<div class="btl" title="Click to go back to login page">
  <a href="/page/login"><i class="fa-solid fa-arrow-left"></i></a>
</div>
<div class="form-container text-center">
  <h1 class="text-white"><%= title %></h1>
  <form action="/reset/password/:token" method="put">
    <div class="form-floating mb-1">
      <input
        type="password"
        name="password"
        class="form-control"
        id="floatingPassword"
        required
      />
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        name="confirmPassword"
        class="form-control"
        id="floatingPassword"
        required
      />
      <label for="floatingPassword">Confirm Password</label>
    </div>
    <button type="submit" class="btn btn-success mt-3">Reset</button>
  </form>
</div>

<script
  src="https://kit.fontawesome.com/4bfb5306a3.js"
  crossorigin="anonymous"
></script>
